.para {
    font-family: monospace, sans-serif;
    text-align: justify;
    font-size: 16px;
    line-height: 27px;
    width: 500px;
    padding: 30px;
    margin: 60px 70px;
    box-sizing: border-box;
    display: inline-block;
    border-radius: 50px;
}

.dox p {
    color: darkblue;
}

.box p {
    color: darkblue;
}

.cycling p {
    color: aliceblue;
}

.phrase p {
    color: brown;
}

.mining p {
    color: bisque;
}

.para a {
    color: white;
    background-color: black;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    width: 115px;
    height: 45px;
    line-height: 45px;
    border-radius: 10px;

}

.para h1 {
    color: darkgreen;
}

.dox {
    background: linear-gradient(to left, #f7797d, #FBD786, #C6FFDD);
}

.box {
    background: linear-gradient(to right, #f05053, #e1eec3);
}

.cycling {
    background: linear-gradient(to right, #FFAF7B, #D76D77, #3A1C71);
}

.phrase {
    background: linear-gradient(to right, #43c6ac, #f8ffae);
}

.mining {
    background: linear-gradient(to right, #c0392b, #8e44ad);
}